extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1.aboutName Tristan De Clarin

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | As a web developer that is passionate about visual arts, I seek opportunities in which I can combine art and technology to create aesthetically pleasing websites and apps. I love working in a team environment and believe that success lies in effective communication, collaboration and creativity. I persistently look for opportunities to further my knowledge on current, new, and upcoming technologies and find ways in which I can apply innovative methods. Aside from web development, I enjoy expanding my creativity
            |  through a variety of outlets such as music, videography, photography, art and interior design. I aim to utilize what I have learned to create impactful websites and applications that provide positive and memorable user experience.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Front-End Development
          li Back-end Development
          li Film
          li Photography
          li Design 
          
        h6 Contact Info

       
        ul
          li Tristan.declarin@gmail.com

       
        a.button.expanded(href='https://www.linkedin.com/in/tristandeclarin/',target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/trrstnn', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/', target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  