extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Tristan De Clarin

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | As a web developer that is passionate about visual arts, I seek opportunities in which I can combine art and technology to create aesthetically pleasing websites and apps. I love working in a team environment and believe that success lies in effective communication, collaboration and creativity. I persistently look for opportunities to further my knowledge on current, new, and upcoming technologies and find ways in which I can apply innovative methods. Aside from web development, I enjoy expanding my creativity
            |  through a variety of outlets such as music, videography, photography, art and interior design. I aim to utilize what I have learned to create impactful websites and applications that provide positive and memorable user experience.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Front-End Development
          li Back-end Development
          li Film
          li Photography
          li Design 
          
        h6 Contact Info

        //- Add your own contact info
        ul
          li Tristan.declarin@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/tristandeclarin/') LinkedIn
        a.button.expanded(href='https://github.com/trrstnn') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  