extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1.indexTitle Concept Projects

      p.lead.text-light
        | Here are my recent projects that I have worked on:
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell 
           a(href=`projects/${project.id}`)
            iframe( src=project.image_urls[0]) 
            h5= ` ➠  ${project.project_name} `
         

    
       
          
          
      
